// Margin Fragments
.ml-5,
.mx-5,
.m-5 {
    margin-left: 0.5rem;
}

.mr-5,
.mx-5,
.m-5 {
    margin-right: 0.5rem;
}

.mt-5,
.my-5,
.m-5 {
    margin-top: 0.5rem;
}

.mb-5,
.my-5,
.m-5 {
    margin-bottom: 0.5rem;
}

.ml-1,
.mx-1,
.m-1 {
    margin-left: 1rem;
}

.mr-1,
.mx-1,
.m-1 {
    margin-right: 1rem;
}

.mt-1,
.my-1,
.m-1 {
    margin-top: 1rem;
}

.mb-1,
.my-1,
.m-1 {
    margin-bottom: 1rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-bottom: 0;
}
