// padding fragments
.pl-5,
.px-5,
.p-5 {
    padding-left: 0.5rem;
}

.pr-5,
.px-5,
.p-5 {
    padding-right: 0.5rem;
}

.pt-5,
.py-5,
.p-5 {
    padding-top: 0.5rem;
}

.pb-5,
.py-5,
.p-5 {
    padding-bottom: 0.5rem;
}

.pl-1,
.px-1,
.p-1 {
    padding-left: 1rem;
}

.pr-1,
.px-1,
.p-1 {
    padding-right: 1rem;
}

.pt-1,
.py-1,
.p-1 {
    padding-top: 1rem;
}

.pb-1,
.py-1,
.p-1 {
    padding-bottom: 1rem;
}
