@import url('https://fonts.googleapis.com/css?family=Poppins');


/* ===================VARIABLES=================== */

$primary-color: #ffeb3b;
$secondary-color: #cddc39;
$background-color: #fff9af;
$navbar-bg-img-height: 20em;

/* =====================CLASS===================== */

* {
  padding: 0;
  margin: 0;
}

body {
  background: $background-color;
  font-family: 'Poppins', sans-serif;
}

.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 15%;
  overflow: auto;
  position: fixed;
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0;
  }
}

@import "navbar.scss";
