@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '~aos/dist/aos.css';

/* ===================VARIABLES=================== */

$primary-color: #ffeb3b;
$secondary-color: #cddc39;
$background-color: #fff9af;
$title-bg-color: #a6a2d0;
$icon-bg-color: #cadcaa;
$desc-bg-color: #d2fb7f;

$navbar-bg-img-height: 20em;
$border-rad: 10px;

/* =====================CLASS===================== */

* {
  padding: 0;
  margin: 0;
}

body {
  background: $background-color;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 15%;
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0;
  }
}

@import "navbar.scss";
@import "project.scss";
@import "storage.scss";