/* *** Storage *** */

.storage {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 2em auto;

  .storage__category {
    position: relative;

    max-height: 21.5em;
    margin: 10px;
    overflow: hidden;

    cursor: pointer;
    background-color: $secondary-color;
    border-radius: 2em;

    .category__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 3.5em;

      .box {
        display: flex;
        flex-grow: 1;
        align-items: center;

        width: 40%;
        height: 7em;
        margin: 0.7em 0.7em 0 0;

        border: 0.3em double $secondary-color;

        .box__icon {
          width: 10em;

          i {
            width: 2.7em;
            height: 2.7em;
            margin: 0.2em;

            color: white;
            background-color: $secondary-color;

            border: 0.4em double $primary-color;
            border-radius: 10%;

            text-align: center;
            line-height: 2.7em;
          }
        }

        .box__description {
          display: -webkit-box;
          width: 60%;
          margin: 0.4em 1em 0.4em 0;
          overflow: hidden;

          text-align: justify;
          font-size: smaller;
          text-overflow: ellipsis;

          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
    .category__label {
      position: absolute;
      left: 10px;
      bottom: 0.7em;

      display: flex;
      width: 95%;
      height: 3em;

      .label__icon {
        width: 2.6em;
        min-width: 2.6em;
        height: 2.6em;

        border: 0.3em double $secondary-color;
      }

      .label__main {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
          &:active {
            color: inherit;
          }
          &:hover {
            color: red;
          }
        }
      }

      .label__sub {
        width: 44em;

        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;

        &.hide {
          display: none;
        }
      }

      @media screen and (max-width: $pc-screen) {
        .label__sub {
          max-width: 33em;
        }
      }

      @media screen and (max-width: $tablet-screen) {
        .label__sub {
          max-width: 25em;
        }
      }

      @media screen and (max-width: $mobile-screen) {
        .label__sub {
          max-width: 15em;
        }
      }
    }
  }

  @media screen and (max-width: $tablet-screen) {
    .storage__category {
      max-height: unset;

      .category__list {
        margin-left: 1.5em;

        flex-direction: column;

        .box {
          width: auto;
          height: 5em;

          padding: 0.4em;

          flex-direction: column;

          .box__description {
            width: 100%;
            margin: 0.5em 1em;

            border-top: 3px double black;
            -webkit-line-clamp: 1;
          }

          .box__icon {
            width: 100%;

            flex-direction: row;
            justify-content: left;

            i {
              width: 1.7em;
              height: 1.7em;
              margin: unset;

              line-height: 1.7em;
            }
          }
        }
      }
    }
  }
}

.storage-detail {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em auto;

  text-align: center;
  word-wrap: break-word;

  .list-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;

    list-style: none;
    border-radius: 0.313em;

    .box {
      width: 30%;
      margin: 0.5em;

      background: white;
      border-radius: 12px;
      border-bottom: 3px groove $secondary-color;
      transition: box-shadow 0.3s;
      box-shadow: 0 12px 15px 0 rgba(218, 218, 218, 0.24),
        0 17px 50px 0 rgba(218, 218, 218, 0.19);

      span {
        display: block;
        height: 2em;

        border-top-right-radius: 12px;
        border-top-left-radius: 12px;

        font-size: 2em;
        color: white;

        transition: color 0.3s;

        &::before,
        &::after {
          position: static;

          display: flex;
          justify-content: center;

          line-height: 2em;
        }
      }

      h3 {
        display: inline-block;
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
        margin-inline-start: 0;
        margin-inline-end: 0;

        color: darken(black, 20%);

        font-weight: bold;
        text-transform: uppercase;

        transition: color 0.3s;
      }

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      &:hover span {
        color: white;
      }

      &:hover h3 {
        color: $complementary-color;
      }

      .box__info-list {
        position: relative;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 8px;
        margin-bottom: 1em;
        max-height: 0;

        .box__info {
          opacity: 0;

          i {
            padding: 5px;
            border-radius: 15%;

            color: white;
          }

          div {
            width: 60px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        &::before {
          position: absolute;
          bottom: 0;
          left: 0;

          height: 0;
          width: 0;
          box-sizing: border-box;

          content: "";
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;

          height: 0;
          width: 0;
          box-sizing: border-box;

          content: "";
        }
      }

      &:hover {
        .box__info-list {
          max-height: 10em;
          transition: height 0.3s linear;
        }

        .box__info {
          opacity: 1;
          transition: opacity 0.8s linear;
        }

        .box__info-list::before {
          height: 100%;
          width: 100%;

          border: 1px solid $secondary-color;
          border-right: none;
          border-bottom: none;

          transition: height 0.2s linear 0.3s, width 0.3s linear 0.5s;
        }

        .box__info-list::after {
          height: 100%;
          width: 100%;

          border: 1px solid $secondary-color;
          border-left: none;
          border-top: none;

          transition: height 0.2s linear 0.3s, width 0.3s linear 0.5s;
        }
      }

      .box__description {
        text-indent: 1em;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;

        color: black;

        transition: color 0.3s;
      }
    }

    @media (min-width: $tablet-screen) and (max-width: $pc-screen) {
      .box {
        width: 45%;
      }
    }

    @media screen and (max-width: $tablet-screen) {
      .box {
        width: 100%;
      }
    }
  }
}
