/* *** Storage *** */

.storage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em auto;

  .category {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #e6e2c8;
    cursor: pointer;
    border-radius: 2em;

    .list-box {
      margin-left: 3.5em;
      display: flex;
      flex-wrap: wrap;

      .box {
        width: 40%;
        flex-grow: 1;
        margin: 0.7em 0.7em 0 0;
        height: 7em;
        border-radius: 1em;
        display: flex;
        align-items: center;
        border: 0.3em double #536e79;

        .main {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          flex-grow: 1;

          i {
            width: 2.7em;
            height: 2.7em;
            background-color: #536e79;
            border: 0.4em double #e6e2c8;
            color: white;
            border-radius: 10%;
            text-align: center;
            line-height: 2.7em;
            margin: 0.2em;
          }

          p {
            text-align: center;
            margin: 0.2em;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            font-size: large;
          }
        }

        .sub {
          width: 60%;
          margin: 0.4em 1em 0.4em 0;
          text-align: justify;
          font-size: smaller;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }

        @media screen and (max-width: 425px) {
          .sub {
            display: none;
          }
        }
      }
    }

    .label {
      display: flex;
      position: absolute;
      left: 10px;
      width: 95%;
      height: 3em;
      bottom: 0.7em;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.6em;
        min-width: 2.6em;
        height: 2.6em;
        border: 0.3em double #536e79;
        border-radius: 50%;
        background: white;
      }

      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.5em;
        color: black;
        white-space: pre;

        .main,
        .sub {
          position: relative;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .main {
          font-weight: bold;
          font-size: x-large;
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          .more {
            font-weight: normal;
            font-size: small;
            text-decoration: none;
            color: #536e79;
            &:active {
              color: inherit;
            }
            &:hover {
              color: red;
            }
          }
        }
        .sub {
          width: 44em;
          font-size: small;

          &.hide {
            display: none;
          }
        }

        @media screen and (max-width: 1028px) {
          .sub {
            max-width: 33em;
          }
        }
      }
    }
  }
}
